.events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map {
    margin-top: 20px;
}

agm-map {
    height: 500px;
    width: 800px;
}

.details {
    margin-top: 20px;
    width: 800px;
}