<div class="main">
  <mat-card>
    <form [formGroup]="form" class="reactive-form">
      <div formGroupName="details">
        <span class="input-control"><label>Name:</label><input formControlName="name"></span>
        <span class="input-control"><label>Email:</label><input formControlName="email"></span>
        <span class="error" *ngIf="
              form.get('details').touched &&
              form.get('details').hasError('nomatch')">Emails must match</span>
        <span class="input-control"><label>Confirm:</label><input formControlName="confirm"></span>
        <span class="input-control"><label>Phone:</label><input formControlName="phone"></span>
        <span class="input-control"><label>Address:</label><input formControlName="address"></span>
        <span class="input-control"><label>Postcode:</label><input formControlName="postcode"></span>
      </div>
      <div formArray="pizzas"></div>
    </form>
  </mat-card>
</div>