<div class="main">
  <div class="stats">
    <mat-card class="stat">
      <div class="stat-icon">
        <i class="fa fa-user"></i>
      </div>
      <div class="stat-data">
        <h1>$ 1000</h1>
        <p>Transactions</p>
      </div>
    </mat-card>
    <mat-card class="stat">
      <div class="stat-icon">
        <i class="fa fa-user"></i>
      </div>
      <div class="stat-data">
        <h1>12</h1>
        <p>New users</p>
      </div>
    </mat-card>
    <mat-card class="stat">
      <div class="stat-icon">
        <i class="fa fa-user"></i>
      </div>
      <div class="stat-data">
        <h1>33</h1>
        <p>Arrivals</p>
      </div>
    </mat-card>
    <mat-card class="stat">
      <div class="stat-icon">
        <i class="fa fa-user"></i>
      </div>
      <div class="stat-data">
        <h1>24</h1>
        <p>Departures</p>
      </div>
    </mat-card>
  </div>
  <div class="graphs">
    <mat-card class="graph">Graph 1</mat-card>
    <mat-card class="graph">Graph 2</mat-card>
  </div>
  <mat-card class="activity">Activity</mat-card>
</div>